<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>MSS - Blood Donation App</title>
</head>
<body style="background-color: antiquewhite">

<section>

    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="container mt-5" style="text-align: center">
                    <h1>Hi, This is a Open Source App for blood donation.</h1>
                    <h3>Registration For Blood Donation.</h3>
                    <h3>Search for Blood Receive.</h3>
                </div>
            </div>
        </div>
    </div>

</section>

</body>
</html>